@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

 .logo {
    width: 210px;
    margin-top: 14px;
    margin-left: 75px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-right: 23px;
}

li a {
    color: #432;
    font-size: 20px;
}

li a:hover {
    color: #0bd;
}

/* .page-header {
    display: flex;
    justify-content: space-between;
} */

.home-content {
    text-align: center;
}